<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:href="@{/css/charts.css}" rel="stylesheet" />
	<link th:href="@{/css/setting.css}" rel="stylesheet" />
	<link th:href="@{/css/plugin.css}" rel="stylesheet" />
	<link th:href="@{/css/template.css}" rel="stylesheet" />
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
  	<th:block th:replace="~{./common/top}"></th:block>

	<th:block th:replace="~{./contents/chart1}"></th:block>

  <!-- [S]opilsol-N3 -->
  	<th:block th:replace="~{./common/footer}"></th:block>
  
  <!-- [E]opilsol-N3 -->
  
</body>
</html>